@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  --gray: #4b4c4f;
  --dark_gray: #353639;
  --light_gray: rgba(182,182,190,0.6);
  --light-gray2: rgba(182,182,190,0.2);
  --black1: #0f0f0f;
  --black2:  #131313;
  --my_black: #2C2C2C;
}
*,
:after,
:before {
  box-sizing: border-box
}
body {
  /*background-image: linear-gradient(45deg, #6e6f74, #202022);*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: block;
    /*margin-top: -2vh;*/
    width: 100vw;
    height: 100vh;
    margin-bottom: -500px;
    opacity: 0;
    /*background: center / contain no-repeat url('iPhone X, XS, 11 Pro – day.png');*/
}
.screen{
  /*width: 375px;
  height: 812px;*/
  width: 100vw;
  /*height: 100vh;*/
  top: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -3vh;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  align-content: center;
  /*justify-content: center;*/
  background-color: #fff;
  overflow-y: scroll;
}
.head{
  border-bottom: 1px solid rgba(112,112,122,0.15);
  /*display: flex;*/
  flex-direction: row;
  /*justify-content: center;*/
  margin: 97px 34px 0 34px;
  /*margin: 11.946vw 34px 0 34px;*/
  position: relative;
  /*max-height: 37px;*/
}
.head h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25.5px;
  color: var(--my_black);
  /*padding-right: 9.600vw;*/
  padding-top: 3px;
  float: left;
  position: relative;
  margin: 0;
  max-height: 82px;
}
.editBtn{
  font-size: 20px;
  float: right;
  position: relative;
  cursor: pointer;
  color: #2C2C2C;
  padding-left: 28vw;
  margin-top: 1vh;
}
.block-status{
  border-bottom: 1px solid rgba(112,112,122,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin: 50px 34px 0 34px;*/
  margin: 50px 34px 0 34px;
  position: relative;
  margin-bottom: 10vh;
  /*max-height: 4.5vh;*/
}
.block-status h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  /*position: relative;*/
  float: left;
  margin: 0;
}
#btn{
  width: 68vw;
  height: 6vh;
  background-color: rgb(223, 223, 223);
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
  filter: drop-shadow(1px 3px 4px rgba(50, 50, 0, 0.5));
}
.clicked{
  animation: btn-click 0.3s ease-out;
}
@keyframes btn-click{
  0%, 100%{
    filter: drop-shadow(1px 3px 4px rgba(50, 50, 0, 0.5));
    background-color: rgb(223, 223, 223);
    transform: scale(1);
  }
  75%{
    filter: drop-shadow(0px 0px 0px rgba(50, 50, 0, 0.5));
    background-color: #b6b6b6;
    transform: scale(0.95);
  }
}
.waves {
  position:relative;
  width: 100vw;
  height:20vh;
  /*margin-bottom:-7px; /*Fix for safari gap*/
  min-height:20vh;
  max-height:30vh;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:20vh;
    min-height:20vh;
  }
  .content {
    height:30vh;
  }
  .screen{
    overflow-y: hidden;
  }
}

.foot{
  position: fixed;
  margin-top: 80vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20vh;
  align-items: center;
}
.guests-small{
  padding-bottom: 7.5px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.cars-small{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.dash-small{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  margin-top: 10px;
  background: rgba(112, 112, 112, 0.15);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* Desktop */
/*@media (min-width: 768px) {
  .wrapper{
    background-color: red;
}


}*/