@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  --gray: #4b4c4f;
  --dark_gray: #353639;
  --light_gray: rgba(182,182,190,0.6);
  --light-gray2: rgba(182,182,190,0.2);
  --black1: #0f0f0f;
  --black2:  #131313;
  --my_black: #2C2C2C;
}
*,
:after,
:before {
  box-sizing: border-box
}
body {
  /*background-image: linear-gradient(45deg, #6e6f74, #202022);*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: block;
    /*margin-top: -2vh;*/
    width: 100vw;
    height: 100vh;
    margin-bottom: -500px;
    opacity: 0;
    /*background: center / contain no-repeat url('iPhone X, XS, 11 Pro – day.png');*/
}
.screen{
  /*width: 375px;
  height: 812px;*/
  width: 100vw;
  height: 100vh;
  top: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -3vh;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  align-content: center;
  /*justify-content: center;*/
  background-color: #fff;
  overflow-y: scroll;
}
.head{
  border-bottom: 1px solid rgba(112,112,122,0.15);
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  margin: 97px 34px 0 34px;
  /*margin: 11.946vw 34px 0 34px;*/
  position: relative;
  justify-content: flex-end;
  /*max-height: 37px;*/
}
.head h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25.5px;
  color: var(--my_black);
  /*padding-right: 9.600vw;*/
  padding-top: 3px;
  float: left;
  position: relative;
  margin: 0;
  max-height: 82px;
}
.editBtn{
  font-size: 20px;
  float: right;
  position: relative;
  cursor: pointer;
  color: #2C2C2C;
  padding-left: 28vw;
}
.block-section{
  /*border-bottom: 1px solid rgba(112,112,122,0.15);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin: 50px 34px 0 34px;*/
  margin: 50px 34px 0 34px;
  position: relative;
  /*max-height: 4.5vh;*/
}
table, tr, td{
  border: 0.5px #5f5f61 solid;
}
.sector td{
  cursor: pointer;
  transition: 0.3s ease-in;
}
.sector td:hover{
  background-color: #5f5f61;
  color: #fff;
}
.sector{
  margin-top: 6vh;
  width: auto;
  max-height: fit-content;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #5f5f61;
  color: #5f5f61;
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 6vh;
}
.sector td{
  height: 7vh;
  direction: rtl;
}
#td1{
  border-radius: 10px 0 0 0;
  width: 20vw;
}
@media screen and (max-width: 550px){
  #td1{
    width: 15vw;
  }
}
.sector .td3{
  height: 7vh;
}
.sector .td3, #t1{
  border-radius: 0 0 0 10px;
}
.sector .td3, #t2{
  border-radius: 0 0 10px 0;
}
#td2{
  border-radius: 0 10px 0 0;
  width: 20vw;
}
.green{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #47BE73;
  margin-top: -2.5vh;
}
.yellow{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #FFF035;
  margin-top: -2.5vh;
}
.foot{
  position: fixed;
  display: flex;
  flex-direction: row;
  transform: scale(0.95);
  /*border-radius: 20px;
  border: 1px #2c2c2c solid;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);*/
  align-items: center;
  align-self: center;
  margin-top: 85vh;
  width: 90vw;
}
.dash-small{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.light-small{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.arrows-small{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.eye-small{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.popup-green{
  position: absolute;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /*margin-top: calc(100vh / 2.5);
  margin-bottom: auto;*/
  width: 75vw;
  /*height: 15vh;*/
  background-color: #fff;
  /*backdrop-filter: blur(10px);*/
  font-size: 18px;
  border-radius: 21px;
  border: 1px #2c2c2c solid;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  animation: hideOff 0.5s ease-out;
  justify-content: center;
  text-align: center;
}
.popup-yellow{
  position: absolute;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /*margin-top: calc(100vh / 2);
  margin-bottom: auto;*/
  width: 75vw;
  /*height: 15vh;*/
  background-color: #fff;
  /*backdrop-filter: blur(10px);*/
  font-size: 18px;
  border-radius: 21px;
  border: 1px #2c2c2c solid;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  animation: hideOff 0.5s ease-out;
  justify-content: center;
  text-align: center;
}
.h{
  display: none;
}
.popup-yellow .headline{
  /*padding: 15px 0 5px 0;*/
  background-color: #FFF035;
}
.headline{
  width: 100%;
  height: 5vh;
  background-color: #47BE73;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-green span{
  align-self: center;
  margin-top: 2.5vh;
  margin-bottom: 1vh;
}
.popup-green.active{
  display: flex;
  animation: showOff 0.5s ease;
}
.popup-yellow span{
  align-self: center;
  margin-top: 2.5vh;
  margin-bottom: 1vh;
}
.popup-yellow.active{
  display: flex;
  animation: showOff 0.5s ease;
}
@keyframes hideOff{
  0%{
    opacity: 1;
  }
  50%{
    transform: scale(1, 0.5);
  }
  75%{
    transform: scale(0.1, 0.1);
  }
  100%{
    transform: scale(0);
    opacity: 0;
    display: none;
  }
}
@keyframes showOff{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    
  }
}
.okBtn{
  margin-top: 1vh;
  width: 100%;
  align-self: flex-end;
  min-height: 4vh;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background-color: #e2e2e2;
}
.blured{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(146, 146, 146, 0.4);
  backdrop-filter: blur(10px);
  animation: defBack 0.5s ease;
}
.default{
  display: block;
  animation: blurBack 0.5s ease-out;
}
.hidden{
  display: none;
}
@keyframes blurBack{
  0%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    backdrop-filter: blur(10px);
  }
}
@keyframes defBack{
  0%{
    opacity: 1;
  }
  75%{
    backdrop-filter: none;
  }
  100%{
    opacity: 0;
  }
}
.popup{
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
}



::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  margin-top: 10px;
  background: rgba(112, 112, 112, 0.15);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}